# Ignora todo el contenido de data y subcarpetas
/data/*
/data/**

# ¡Pero permite las carpetas!
!/data/
!/data/raw_images/
!/data/data_processed/

# Permite archivos de texto o markdown para mantener estructura
!data/*.md
!data/*.txt
!data/raw_images/.gitkeep
!data/data_processed/.gitkeep