# Ignora TODOS los archivos dentro de /data/
/data/**
!/data/
!/data/raw_images/
!/data/raw_images/rostro_presente/
!/data/raw_images/rostro_ausente/
!/data/data_processed/
!/data/predict_images/

# Permite SOLO archivos .gitkeep en cualquier subcarpeta del data
!**/.gitkeep